﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeFile="shg.aspx.cs" Inherits="shg" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="Server">
    <script src="assets/js/jquery.min.js"></script>
    <link href="assets/css/sweetalert.css" rel="stylesheet" />
    <script src="assets/js/sweetalert.min.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js" type="text/javascript"></script>

    <link href="assets/js/jquery.timepicker.css" rel="stylesheet" />
    <script src="assets/js/jquery.timepicker.js"></script>
    <script src="assets/js/jquery.timepicker.min.js"></script>
    <style type="text/css">
        .img-zoom {
            width: 30px;
            -webkit-transition: all .2s ease-in-out;
            -moz-transition: all .2s ease-in-out;
            -o-transition: all .2s ease-in-out;
            -ms-transition: all .2s ease-in-out;
        }

        .transition {
            -webkit-transform: scale(1.5);
            -moz-transform: scale(1.5);
            -o-transform: scale(1.5);
            transform: scale(1.5);
        }

        .hiddencol {
            display: none;
        }
    </style>

    <!-- Add mousewheel plugin (this is optional) -->
    <script type="text/javascript" src="lib/jquery.mousewheel-3.0.6.pack.js"></script>
    <!-- Add fancyBox main JS and CSS files -->
    <script type="text/javascript" src="source/jquery.fancybox.js?v=2.1.5"></script>
    <link rel="stylesheet" type="text/css" href="source/jquery.fancybox.css?v=2.1.5"
        media="screen" />
    <!-- Add Button helper (this is optional) -->
    <link rel="stylesheet" type="text/css" href="source/helpers/jquery.fancybox-buttons.css?v=1.0.5" />
    <script type="text/javascript" src="source/helpers/jquery.fancybox-buttons.js?v=1.0.5"></script>
    <!-- Add Thumbnail helper (this is optional) -->
    <link rel="stylesheet" type="text/css" href="source/helpers/jquery.fancybox-thumbs.css?v=1.0.7" />
    <script type="text/javascript" src="source/helpers/jquery.fancybox-thumbs.js?v=1.0.7"></script>
    <!-- Add Media helper (this is optional) -->
    <script type="text/javascript" src="source/helpers/jquery.fancybox-media.js?v=1.0.6"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#bfs5').addClass('active');
            $('#id3').addClass('active');
            $('.img-zoom').hover(function () {
                $(this).addClass('transition');
            }, function () {
                $(this).removeClass('transition');
            });
            $('.fancybox').fancybox();
            $(".fancybox-effects-a").fancybox({
                helpers: {
                    title: {
                        type: 'outside'
                    },
                    overlay: {
                        speedOut: 0
                    }
                }
            });

            // Disable opening and closing animations, change title type
            $(".fancybox-effects-b").fancybox({
                openEffect: 'none',
                closeEffect: 'none',

                helpers: {
                    title: {
                        type: 'over'
                    }
                }
            });

            // Set custom style, close if clicked, change title type and overlay color
            $(".fancybox-effects-c").fancybox({
                wrapCSS: 'fancybox-custom',
                closeClick: true,
                openEffect: 'none',
                helpers: {
                    title: {
                        type: 'inside'
                    },
                    overlay: {
                        css: {
                            'background': 'rgba(238,238,238,0.85)'
                        }
                    }
                }
            });
        });

        $(function () {
            $("#<%=txtmeetdate.ClientID %>").click(function () {
                $('.ui-datepicker').css({ 'display': 'block' });
            });
            $('#<%=txtmeetdate.ClientID %>').datepicker({ dateFormat: "dd-mm-yy" });
            $('#<%=txtaccopendate.ClientID %>').datepicker({ dateFormat: "dd-mm-yy" });
            $('#<%=txtformdate.ClientID %>').datepicker({ dateFormat: "dd-mm-yy" });

        });
        $(function () {
            $('#<%=txtmeetingtime.ClientID%>').click(function () {
                $('#<%=txtmeetingtime.ClientID%>').timepicker({ step: 30, timeFormat: 'h:i A', 'minTime': '06:00 AM', 'maxTime': '10:00 PM' });
            });
        });

    </script>
    <style type="text/css">
        .fancybox-custom .fancybox-skin {
            box-shadow: 0 0 50px #222;
        }
    </style>
    <script>
        $(function () {
            $('#<%=txtsrch.ClientID%>').autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "shg.aspx/GetInvName",
                        data: "{ 'pre':'" + request.term + "'}",
                        dataType: "json",
                        type: "POST",
                        contentType: "application/json; charset=utf-8",
                        success: function (d) {
                            var data = JSON.parse(d.d);
                            console.log(data);
                            response($.map(data, function (item) {
                                return { value: item.tmp }
                            }))
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            alert(textStatus);
                        }
                    });
                }
            });
        });
    </script>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">
    <asp:Label ID="lblid" runat="server" Visible="false"></asp:Label>
    <!-- Page-Title -->
    <div class="row">
        <div class="col-sm-12">
            <h4 class="page-title">SHG'S</h4>
        </div>
    </div>
    <!--/ .page title -->

    <div class="row">
        <div class="col-sm-12 ">
            <p class="text-muted page-title-alt">
                <button type="button" id="btncreatenew" style="float: right;" runat="server" class="btn btn-default waves-effect waves-light" onserverclick="btncreatenew_ServerClick">
                    <span class="btn-label"><i class="fa fa-plus"></i>
                    </span>Create New</button>
            </p>
        </div>
        <div class="form-inline">
            <asp:TextBox ID="txtsrch" runat="server" class="form-control" placeholder="Enter SHG name / Branch" Width="25%"></asp:TextBox>
            <asp:Button ID="btnsrch" runat="server" CssClass="form-control" Text="Search" Width="10%" OnClick="btnsrch_Click" />
        </div>
    </div>
    <br />
    <asp:MultiView ID="MultiView1" runat="server">
        <asp:View ID="View1" runat="server">
            <div class="row">
                <div class="col-lg-5 card-box">
                    <div class="form-group">
                        <label>Name</label>
                        <asp:TextBox ID="txtname" runat="server" class="form-control"></asp:TextBox>
                    </div>
                    <div class="form-group">
                        <label>Type</label>
                        <asp:DropDownList ID="ddltype" runat="server" class="form-control">
                            <asp:ListItem>--Select--</asp:ListItem>
                            <asp:ListItem>Women</asp:ListItem>
                            <asp:ListItem>Men</asp:ListItem>
                        </asp:DropDownList>
                    </div>
                    <div class="form-group">
                        <label>Region</label>
                        <asp:DropDownList ID="ddlregion" runat="server" class="form-control"></asp:DropDownList>
                    </div>
                    <div class="form-group">
                        <label>District</label>
                        <asp:DropDownList ID="ddldistrict" runat="server" class="form-control"></asp:DropDownList>
                    </div>
                    <div class="form-group">
                        <label>Bank Branch</label>
                        <asp:DropDownList ID="ddlbranch" runat="server" class="form-control"></asp:DropDownList>
                    </div>
                    <div class="form-group">
                        <label>Taluk</label>
                        <asp:TextBox ID="txt_taluk" runat="server" class="form-control"></asp:TextBox>
                    </div>
                    <div class="form-group">
                        <label>Village</label>
                        <asp:TextBox ID="txtvillage" runat="server" class="form-control"></asp:TextBox>
                    </div>
                    <div class="form-group">
                        <label>SavingAccount</label>
                        <asp:TextBox ID="txtsavingaccnum" runat="server" class="form-control"></asp:TextBox>
                    </div>
                    <div class="form-group">
                        <label>Total Members</label>
                        <asp:TextBox ID="txtmembers" runat="server" class="form-control"></asp:TextBox>
                    </div>
                    <div class="form-group">
                        <label>Meeting Date</label>
                        <asp:TextBox ID="txtmeetdate" runat="server" class="form-control"></asp:TextBox>
                    </div>
                    <div class="form-group">
                        <label>Annual Meeting Date</label>
                        <asp:TextBox ID="txtannualmeetdate" runat="server" class="form-control"></asp:TextBox>
                    </div>
                    <div class="form-group">
                        <label>Annual Income</label>
                        <asp:TextBox ID="txtannualincome" runat="server" class="form-control"></asp:TextBox>
                    </div>
                    <div class="form-group">
                        <label>MeetingTime</label>
                        <asp:TextBox ID="txtmeetingtime" runat="server" class="form-control"></asp:TextBox>
                    </div>
                    <div class="form-group">
                        <label>Meeting Place</label>
                        <asp:TextBox ID="txtmeetplace" runat="server" class="form-control"></asp:TextBox>
                    </div>
                    <div class="form-group">
                        <label>Formation Date</label>
                        <asp:TextBox ID="txtformdate" runat="server" class="form-control"></asp:TextBox>
                    </div>
                    <div class="form-group">
                        <label>Savings Account OpenDate</label>
                        <asp:TextBox ID="txtaccopendate" runat="server" class="form-control"></asp:TextBox>
                    </div>
                    <div class="form-group">
                        <label>Reason</label>
                        <asp:TextBox ID="txtreason" runat="server" class="form-control"></asp:TextBox>
                    </div>
                    <br />
                    <div class="form-group">
                        <asp:Button ID="btnsubmit" runat="server" CssClass="btn btn-lg btn-default btn-custom" Text="Submit" OnClick="btnsubmit_Click" />
                        <asp:Button ID="btncancel" runat="server" CssClass="btn btn-lg btn-danger btn-custom" Text="Cancel" OnClick="btncancel_Click" />
                    </div>
                </div>
                <div class="col-lg-7">
                </div>
            </div>
            <!-- /.row -->
        </asp:View>
    </asp:MultiView>

    <div class="col-lg-12 card-box">
        <div class="table-responsive">
            <asp:GridView ID="gvsprovider" runat="server" EmptyDataText="No Data Available" EmptyDataRowStyle-CssClass="text-danger" EmptyDataRowStyle-Font-Size="Medium" CssClass="table table-bordered table-hover table-striped" OnPageIndexChanging="gvsprovider_PageIndexChanging"
                OnRowCommand="gvsprovider_RowCommand" AllowPaging="true" PageSize="10" AutoGenerateColumns="false" Caption="Accepted SHG">
                <Columns>
                    <asp:ButtonField CommandName="apr" ControlStyle-CssClass="btn btn-default btn-custom" ButtonType="Button"
                        Text="Approve" HeaderText="Approve"></asp:ButtonField>
                    <asp:ButtonField CommandName="rej" ControlStyle-CssClass="btn btn-default btn-custom" ButtonType="Button"
                        Text="Reject" HeaderText="Reject"></asp:ButtonField>
                    <asp:ButtonField CommandName="edi" ControlStyle-CssClass="btn btn-default btn-custom" ButtonType="Button"
                        Text="Edit" HeaderText="Edit"></asp:ButtonField>
                    <asp:ButtonField CommandName="Del" ControlStyle-CssClass="btn btn-danger btn-custom" ButtonType="Button"
                        Text="Delete" HeaderText="Delete"></asp:ButtonField>
                    <asp:BoundField DataField="shgid" HeaderText="SHGID"></asp:BoundField>
                    <asp:BoundField DataField="name" HeaderText="Name"></asp:BoundField>
                    <asp:BoundField DataField="type" HeaderText="Type"></asp:BoundField>
                    <asp:BoundField DataField="village" HeaderText="Village"></asp:BoundField>
                    <asp:BoundField DataField="taluka" HeaderText="Taluk"></asp:BoundField>
                    <asp:BoundField DataField="region" HeaderText="Region"></asp:BoundField>
                    <asp:BoundField DataField="district" HeaderText="District"></asp:BoundField>
                    <asp:BoundField DataField="savingAccount" HeaderText="SavingAccount"></asp:BoundField>
                    <asp:BoundField DataField="meetingDate" HeaderText="MeetingDate"></asp:BoundField>
                    <asp:BoundField DataField="annualmeetDate" HeaderText="AnnualMeetingDate"></asp:BoundField>
                    <asp:BoundField DataField="annualIncome" HeaderText="AnnualIncome" ItemStyle-CssClass="hiddencol" HeaderStyle-CssClass="hiddencol"></asp:BoundField>
                    <asp:BoundField DataField="totalMember" HeaderText="TotalMember"></asp:BoundField>
                    <asp:BoundField DataField="meetingPlace" HeaderText="Meeting Place"></asp:BoundField>
                    <asp:BoundField DataField="meetingTime" HeaderText="Meeting Time"></asp:BoundField>
                    <asp:BoundField DataField="formationDate" HeaderText="Formation Date"></asp:BoundField>
                    <asp:BoundField DataField="savingAccOpenDate" HeaderText="AccOpenDate"></asp:BoundField>
                    <asp:BoundField DataField="reason" HeaderText="Reason"></asp:BoundField>
                    <asp:BoundField DataField="branch" HeaderText="Branch"></asp:BoundField>
                </Columns>
                <PagerStyle CssClass="gridview"></PagerStyle>
            </asp:GridView>
        </div>
    </div>
    <br />
</asp:Content>

